.readers.home.index {
	.post-card {
		height: 450px;
		border-radius: 5px 5px 0 0;

		.hero-image {
			height: 230px;
			background-size: cover;
			background-position: center;
			border-radius: 5px 5px 0 0;
		}
	}

	.page-item {
		.page-link {
			color: #000;
			border: none;
			outline: none;
		}

		&.active {
			.page-link {
				background-color: #ffc107 !important;
				border: none;
				outline: none;
			}
		}
	}

	a:focus {
		border: none;
		outline: none;
	}
}

.readers.posts.show {
	.post-card {
		height: 900px;

		.hero-image {
			height: 350px;
			background-size: cover;
			background-position: center;
		}

		.image-element {
			text-align: center;

			img {
				max-width: 80%;
			}
		}
	}
}
