.authors {
	.paragraph {
		transition: background-color 0.5s ease;
		&:hover {
			background-color: #f89fa;
			cursor: pointer;
		}
	}

	.image {
		text-align: center;

		img {
			max-width: 100%;
		}

		.delete-img-btn {
			position: absolute;
			right: 4.5%;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		@media only screen and (min-width: 481px) {
			.delete-img-btn {
				position: absolute;
				right: 11.5%;
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}
		}

		@media only screen and (max-width: 1400px) {
			.delete-img-btn {
				position: absolute;
				right: 5.5%;
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.post-card {
		border-radius: .3;

		.hero-img {
			width: 100%;
			height: 120px;
			background-size: cover;
			background-position: center;
		}
	}

	#elements {
		list-style: none;
		padding-left: 0;
	}
}

@media only screen and (max-width: 990px) {
}

.jumbo {
	height: 300px;
}

.show-post-jumbo {
	height: 350px;
}
