<div class="container-fluid bg-warning p-4 mb-4 border border-bottom border-dark border-start-0 border-top-0 border-end-0">
  <div class="container bg-warning p-3">
    <h1 class="display-4">Where good ideas find you</h1>
    <hr>
    <div class="d-flex justify-content-between">
      <p>Read and share new perspectives on just about any topic. Everyone’s welcome. </p>
      <% if current_author %>
        <%= link_to "New Post", new_post_path, class: "btn btn-outline-dark float-end rounded-pill" %>
      <% end %>
    </div>
  </div>
</div>